<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Success | Diagnosis Tracker</title>
</head>
<style>
    .form-container {
        padding: 3% 10%;
    }

    .card {
        margin: 5px;
    }

    label {
        cursor: pointer;
    }

    .radio-btn {
        float: right;
        cursor: pointer;
        padding: 0 20px;
    }

    h2 {
        text-align: center;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #212529;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-item nav-link" href="#">About</a>

            </div>
        </div>
    </nav>
    <div class="alert alert-success" role="alert">
        Your form has been submitted successfully.
    </div>
    <div class="card" style="text-align: center;">
        <h5 class="card-header">All Done...</h5>
        <div class="card-body">
            <h5 class="card-title">Success!</h5>
            <p class="card-text">It's time to explore us. Use Diagnosis Tracker to get your all medicals details
                readily. Thanks for visiting our website.</p>
            <button class="w-10 btn btn-sm btn-success" onclick="location.href='index'" type="button">Back To Login Page</button>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>